body{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.NavBar{
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat";
    font-weight: bold;
    background-color: rgb(31, 22, 72);
    color: white;
}   
.actionButtons{
    display: flex;
    gap: 4rem;
    font-weight: 100;
}

label{
    cursor: pointer;
}

#cartBubble{
    font-size: 0.75rem;
    background-color: #ff6b6b; 
    position: absolute;
    padding: 0.02rem 0.22rem;
    border-radius: 0.375rem;
}

#cartLabel:hover{
    #cartBubble{
        background-color: #e53935;
    }
}