
:root{
    --bgcolor: #26252d;
    --surfacecolors: #3d3c43;
    --inputcolor: #56555b;
    --cardcolor: #6f6f74;
    --svgcolor: #8a8a8f;
    --ff1: Lora ;
}

body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    max-width: 1440px;
    min-width: 375px;
    min-height: auto;
    background-color: var(--bgcolor);
    background-image: radial-gradient(rgb(201, 199, 199) 1px, transparent 0);
    background-size: 25px 25px;
    background-position: -19px -19px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
label{
    cursor: pointer;
}

label:hover{
    color: var(--svgcolor);
}


svg, path{
    width: 1.5rem;
    object-fit: cover;
    fill: var(--svgcolor)
}

.addTodo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.7em;

    margin: 2rem;
    width: 15em;
    background-color: var(--surfacecolors);
    padding: 1rem;
    border-radius: 0.87rem;
}

.ip{
    display: flex;
    align-items: center;


    padding: 0 0.5em;
    background-color: var(--inputcolor);
    gap: 1em;
    border-radius: 1em;
}

#textField{
    flex-grow: 1;
    background-color: var(--inputcolor);
    border: none;
    color: white;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-family: var(--ff1);
    border-radius: 1rem;
}

.svgBtn{
    display: flex;
}

#textField::placeholder{
    color: white;
    font-size: 0.8rem;
    font-family: var(--ff1);

}
#textField:focus {
    border: none; 
    outline: none; 
}


.board{
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

#laneHeading{
    text-align: center;
    background-color: var(--surfacecolors);
    border-radius: 1em;
    border: 1px solid var(--bgcolor);
}

#laneHeading h1{
    font-family: var(--ff1);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 1.2rem;
    color: white;
}

.lane{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
    overflow: hidden;
    padding: 1rem;
    color: white;
    min-height: 10em;
    border-radius: 1rem;
    background-image: linear-gradient(var(--surfacecolors), transparent );
}

.taskCard{
    display: flex;
    align-items: center;
    height: 1.5rem;
    border-radius: 0.4rem;
    background-color: var(--cardcolor);
    font-size: 1rem;
    font-family: var(--ff1);
    padding: 0.5rem 2rem;

}

.small{
    font-size: 0.95rem;
    bottom: 1;
}

.is-dragging{
    background: linear-gradient(var(--bgcolor), var(--surfacecolors));
}

.line-through{
    text-decoration: line-through;
}